<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264707216865-4q3242123r78nhtgumr6aumnj6r2ok9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264707216865-4q3242123r78nhtgumr6aumnj6r2ok9s</string>
	<key>API_KEY</key>
	<string>AIzaSyBxF57-dwrlR5Nl7a1spuWWP9_Wdi1Ki0U</string>
	<key>GCM_SENDER_ID</key>
	<string>264707216865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>induk-hybrid</string>
	<key>PROJECT_ID</key>
	<string>induk-hybrid</string>
	<key>STORAGE_BUCKET</key>
	<string>induk-hybrid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264707216865:ios:4abd66b0999b8e86d1eea0</string>
</dict>
</plist>