{% load static %}
<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Room</title>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        
    </head>
    <body style="font-size: 10px;">
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div>
            <div class="title">Chat</div>
        </div>
        <ul class="messages">
            <li class="message left appeared">
                <div class="title">
                    <span class="user">user</span>
                    <span class="time"> 40분전</span>
                </div>
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">sdfwe564f65asdf</div>
                </div>
            </li>
            <li class="message left appeared">
                <div class="title">
                    <span class="user">user</span>
                    <span class="time"> 40분전</span>
                </div>
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">sdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdf</div>
                </div>
            </li>
            <li class="message left appeared">
                <div class="title">
                    <span class="user">user</span>
                    <span class="time"> 40분전</span>
                </div>
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">sdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdf</div>
                </div>
            </li>
            <li class="message left appeared">
                <div class="title">
                    <span class="user">user</span>
                    <span class="time"> 40분전</span>
                </div>
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">sdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdf</div>
                </div>
            </li>
            <li class="message left appeared">
                <div class="title">
                    <span class="user">user</span>
                    <span class="time"> 40분전</span>
                </div>
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">sdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdf</div>
                </div>
            </li>
            <li class="message left appeared">
                <div class="title">
                    <span class="user">user</span>
                    <span class="time"> 40분전</span>
                </div>
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text">sdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdfsdfwe564f65asdf</div>
                </div>
            </li>
        </ul>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" placeholder="Type your message here..." />
            </div>
            <div class="send_message">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="title">
                <span class="user">user</span>
                <span class="time"> 40분전</span>
            </div>
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>